/* Common Navbar Styles for all Resources pages */

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 997;
    height: 70px;
    background: #1a1d21;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
    margin: 0 8px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    padding: 0;
    color: #fff;
    transition: 0.3s;
    font-size: 22px;
    background: #ffb727;
    border-radius: 50%;
    text-decoration: none;
}

.navbar a i {
    font-size: 22px;
    line-height: 1;
    margin: 0;
}

.navbar a:hover,
.navbar li:hover > a {
    color: #fff;
    background: #e5a422;
}
